<%= form_with(model: muscular_group, local: true) do |form| %>
  <% if muscular_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(muscular_group.errors.count, "error") %> prohibited this muscular_group from being saved:</h2>

      <ul>
      <% muscular_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :muscular_group_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
